<mat-stepper linear #stepper>
    <mat-step [stepControl]="juzgadoFormGroup">
        <form [formGroup]="juzgadoFormGroup">
            <ng-template matStepLabel>juzgado y juez</ng-template>
            <h4 class="texto-titulo">
                Juzgado
            </h4>
            <mat-grid-list cols="4" rowHeight="3:1">
                <mat-grid-tile>
                    <mat-form-field class="mat-form-field">
                        <mat-label>Juzgado</mat-label>
                        <input type="text" placeholder="Nombre del juzgado" aria-label="Number" matInput
                            formControlName="juzgado" [matAutocomplete]="auto">
                        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name">
                                {{option.name}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field>
                        <mat-label>(Ubigeo) Distrito</mat-label>
                        <input matInput disabled value="Cusco">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field>
                        <mat-label>(Ubigeo) Provincia</mat-label>
                        <input matInput disabled value="Provincia del Cusco">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field>
                        <mat-label>(Ubigeo) Departamento</mat-label>
                        <input matInput disabled value="Cusco">
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>
            <h4 class="texto-titulo">
                Juez
            </h4>
            <mat-grid-list cols="4" rowHeight="3:1">
                <mat-grid-tile>
                    <mat-form-field class="mat-form-field mx-10">
                        <mat-label>Nombre del juez de paz</mat-label>
                        <input matInput formControlName="nombrejuez" placeholder="Nombre juez de paz">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field class="mat-form-field mx-10">
                        <mat-label>Apellido del juez de paz</mat-label>
                        <input matInput formControlName="apellidojuez" placeholder="Apellido del juez">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>

                </mat-grid-tile>
                <mat-grid-tile>

                </mat-grid-tile>
            </mat-grid-list>
            <div class="buttons-footer">
                <div class="right-buttons">
                    <button mat-stroked-button color="primary" (click)="stepper.reset()">Cancelar</button>
                    <button mat-raised-button color="primary" class="mdc-button mx-4" matStepperNext>Siguiente</button>
                </div>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="datosSolicitudFormGroup">
        <form [formGroup]="datosSolicitudFormGroup">
            <ng-template matStepLabel>Datos de solicitud</ng-template>

            <h4 class="texto-titulo">
                No. Expediente:
            </h4>
            <mat-grid-list cols="4" rowHeight="3:1">
                <mat-grid-tile>
                    <mat-form-field class="mat-form-field">
                        <mat-label>Fecha de Apertura</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="fecha">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field class="mat-form-field">
                        <mat-label>Tipo de Proceso</mat-label>
                        <mat-select formControlName="tipoProceso" [disabled]="false">
                            <mat-option>Seleccione</mat-option>
                            <mat-option *ngFor="let item of lstTipoProceso" [value]="item.value">
                                {{item.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field>
                        <mat-label>Tipo de Violencia</mat-label>
                        <mat-select [disabled]="false">
                            <mat-option value="option1">Opcional</mat-option>
                            <mat-option value="option3">No obligatorio</mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field>
                        <mat-label>Tipo de Riesgo</mat-label>
                        <mat-select [disabled]="false">
                            <mat-option value="option1">Opcional</mat-option>
                            <mat-option value="option3">No obligatorio</mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>
            <h4 class="texto-titulo">
                Ficha de valoración de riesgo (FVR)
            </h4>


            <ngx-mat-file-input #removableInput [formControl]="fileControl" (change)="onFileSelected()"
                [multiple]="multiple" [accept]="accept" [color]="color">                
            </ngx-mat-file-input>


            <ul *ngFor="let file of files">
                <li>
                    <mat-icon [color]="color">description</mat-icon>
                    {{file.name}}
                    <mat-icon (click)="onDelete(file)" [color]="color" style="cursor: pointer">delete</mat-icon>
                </li>
            </ul>

            <div class="buttons-footer">
                <div class="left-buttons">
                    <button mat-stroked-button color="primary" matStepperPrevious>Atrás</button>
                </div>

                <div class="right-buttons">
                    <button mat-stroked-button color="primary" (click)="stepper.reset()">Cancelar</button>
                    <button mat-raised-button color="primary" class="mdc-button mx-4" matStepperNext>Siguiente</button>
                </div>
            </div>
        </form>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
    </mat-step>
</mat-stepper>