::ng-deep .mat-horizontal-content-container {
    padding: 24px !important;
}

.texto-titulo {
    font-size: 20px;
    font-weight: lighter;
    color: blue;
}

.mdc-button {
    padding: 0 8px 0 8px;
    width: 100px;
    margin: 10px 0px 10px 0px;
}

.additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
}

.left-buttons {
    margin-right: auto;
    margin-left: 20px;
    /* Empuja los botones "Atrás" hacia la izquierda */
}

.right-buttons {
    margin-left: auto;
    /* Empuja los botones "Cancelar" y "Siguiente" hacia la derecha */
}

.buttons-footer {
    position: relative;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
    width: 100%;
}

.mat-form-field {
    width: 80%;
    display: block;
    margin-bottom: 4px;
}

.mat-form-field.w-25 {
    width: 25%;
}

.mat-form-field.w-100 {
    width: 100%;
}

.mat-form-field-fecha-precesal {
    width: 20%;
    display: block;
    margin-bottom: 4px;
}

.mat-error {
    font-size: xx-small;
}

.mat-mdc-form-field-error {
    display: flex;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
    display: flex;
}

::ng-deep .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
    padding-top: 10px !important;
}


::ng-deep .mat-mdc-form-field-icon-prefix>.mat-icon,
.mat-mdc-form-field-icon-suffix>.mat-icon {
    padding-top: 0px !important;
    margin-bottom: 8px !important;
}

::ng-deep .mdc-notched-outline {
    height: 40px !important;
}
/*
::ng-deep .mat-mdc-text-field-wrapper {
    height: 40px !important;
}
*/

::ng-deep .mat-mdc-text-field-wrapper textarea.mat-input-element {
    height: auto !important;
}

/* Estilos específicos para input text dentro de mat-mdc-text-field-wrapper */
::ng-deep .mat-mdc-text-field-wrapper input.mat-input-element {
    height: 40px !important;
}

li {
    list-style: none;
}

input[type="file"]{
  display:none;
}

.text-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.centered {
    font-family: sans-serif;
    font-size: 1.3em;
    text-align: center;
}

.dropzone {
    height: 200px;
    display: table;
    width: 100%;
    background-color: #eee;
    border: dotted 3px blue;
    margin-bottom: 10px;
}

.texto-link {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

.texto-link.red {
    text-decoration: underline;
    color: red;
}

.container-archivos {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
}

.lista-archivos {
    list-style: none;
    padding: 0;
    margin: 0 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cuadro-azul {
    border: 1px solid blue;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
}

.icono-delete {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}