<div class="container">
    <mat-card class="card">
        <mat-card-header class="mat-card-header">
            <mat-card-title class="mat-card-title texto-titulo">Bienvenido a SINJUPAZ</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form>
                <mat-form-field class="mat-form-field correo">
                    <mat-label>Correo electrónico</mat-label>
                    <input matInput type="text" placeholder="Ingrese su correo electrónico" [formControl]="email" required>
                    <mat-icon matSuffix>alternate_email</mat-icon>
                    <mat-error class="mat-error" *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
                </mat-form-field>
                <mat-form-field class="mat-form-field password">
                    <mat-label>Contraseña</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" placeholder="Ingrese su contraseña" [formControl]="password" required>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error class="mat-error" *ngIf="password.invalid">{{getErrorMessagePassword()}}</mat-error>
                </mat-form-field>
                <mat-checkbox class="mat-checkbox">Guardar correo y contraseña</mat-checkbox>
                <button mat-raised-button color="primary" class="mdc-button">Iniciar Sesión</button>
            </form>
        </mat-card-content>
        <div class="card-actions" [ngClass]="{'mat-card-actions': true}">
            <a href="#">
                <div>¿Ha olvidado su contraseña?</div>
                <div>Recupérela dando click aquí</div>
            </a>
        </div>

    </mat-card>
</div>