
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.


@include mat.core();

// Asumiendo una aproximación de colores ya que Angular Material no soporta directamente la creación
// de paletas completas desde hexadecimales. Estos son solo placeholders.
// Para un esquema exacto, se requeriría ajustar manualmente las paletas de colores.

// Paletas personalizadas basadas en los colores hexadecimales proporcionados
$custom-primary: mat.define-palette(mat.$indigo-palette, 700);
$custom-accent: mat.define-palette(mat.$orange-palette, A200);
$custom-warn: mat.define-palette(mat.$red-palette);

// Tema personalizado
$sisjupaz-theme: mat.define-light-theme((
  color: (
    primary: $custom-primary,
    accent: $custom-accent,
    warn: $custom-warn,
  ),
));

@include mat.all-component-themes($sisjupaz-theme);
